*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded;
}

.container-fluid {
  display: flex;
  align-items: center !important;
  justify-content: center;
  background-color: #fce38a !important;
  height: 100vh;
}

.card {
  width: 25rem;
  height: 30rem;
  text-align: center;
  border-radius: 8px !important;
  box-shadow: 0 3px 10px gray, 0 -20px 2px -10px #f38181, 0 -40px 3px -20px #eaffd0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 8rem;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn:hover {
  border-color: black;
}

.hide {
  display: none !important;
}
