*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded;
}

.container-fluid {
  display: flex;
  align-items: center !important;
  justify-content: center;
  background-color: #004445 !important;
  height: 100vh;
}

.card {
  width: 25rem;
  height:22rem;
  text-align: center;
  box-shadow:0 4px 6px gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 8rem;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn:hover {
  border-color: black;
}

.hide {
  display: none !important;
}
